  <!-- start click offer -->
  <div class="container mt-5">
    <div class="text-center">
      <h3 class="">پیشنهاد کلیک کالا</h3>
    </div>
    <div class="row d-flex align-items-center gy-4 text-center text-black-50 mt-3 click-offer-table rounded-5">
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">
          <img src="img/story/In-Story-cover-1-1700985870.webp" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            نمایشگر
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">
          <img src="img/story/In-Story-cover-1700997989.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            موبایل
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story-cover-2-1700986045.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            لوازم خودرو
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story-cover-3-1700986201.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            مبل و صندلی
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story.cover-1700898827.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            محافظ صفحه
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story.Cover.saeedi-1700986281.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            تخفیف کفش
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story.Cover16-1700986523.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            دمنوش
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story.webp" class="img-fluid story-max-height rounded-circle" title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            خرید عمده
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story-cover-1-1700985870.webp" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            نمایشگر
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story-cover-1700997989.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            موبایل
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story.cover-1700898827.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            محافظ صفحه
          </div>
        </a>
      </div>
      <div class="col col-md-2 col-3">
        <a href="#" title="..." class="text-decoration-none text-muted">

          <img src="img/story/In-Story.Cover.saeedi-1700986281.jpeg" class="img-fluid story-max-height rounded-circle"
            title="..." alt="..." />
          <div class="mt-1 fs-08-rem">
            تخفیف کفش
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- end click offer -->