 <!-- start fresh -->
  <div class="container mt-5">
    <div class="row d-flex align-items-center rounded-5 fresh-row-bg pt-3 pb-3 ps-1 pe-0">
      <div class="col-md-1 col-3">
        <img src="img/fresh/fresh.webp" class="img-fluid" alt="..." />
      </div>
      <div class="col-md-2 col-9 p-0 text-success">
        شگفت انگیز سوپر‌مارکتی
      </div>
      <div class="col-md-2 text-center fs-5 p-0 text-success">
        <a href="#" title="..." class="btn btn-success rounded-pill">تا 45 % تخفیف</a>
      </div>
      <div class="row col d-flex justify-content-center ps-5 gy-5 gy-md-0 ps-md-0 mt-0">
        <div class="col-md col-4 d-flex ps-0">
          <div class="fresh-product-col position-relative">
            <img src="img/fresh/fresh1.webp" class="img-fluid fresh-product-img" alt="..." />
            <div class="discount rounded-5 text-center w-50 position-absolute">12%</div>
          </div>
        </div>
        <div class="col-md col-4 d-flex ps-0">
          <div class="fresh-product-col position-relative">
            <img src="img/fresh/fresh2.webp" class="img-fluid fresh-product-img" alt="..." />
            <div class="discount rounded-5 text-center w-50 position-absolute">12%</div>
          </div>
        </div>
        <div class="col-md col-4 d-flex ps-0">
          <div class="fresh-product-col position-relative">
            <img src="img/fresh/fresh3.webp" class="img-fluid fresh-product-img" alt="..." />
            <div class="discount rounded-5 text-center w-50 position-absolute">12%</div>
          </div>
        </div>
        <div class="col-md col-4 d-flex ps-0">
          <div class="fresh-product-col position-relative">
            <img src="img/fresh/fresh3.webp" class="img-fluid fresh-product-img" alt="..." />
            <div class="discount rounded-5 text-center w-50 position-absolute">12%</div>
          </div>
        </div>
        <div class="col-md col-4 d-flex ps-0">
          <div class="fresh-product-col position-relative">
            <img src="img/fresh/fresh3.webp" class="img-fluid fresh-product-img" alt="..." />
            <div class="discount rounded-5 text-center w-50 position-absolute">12%</div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center ps-0">
          <button type="button" class="bg-white btn fs-08-rem h-auto rounded-5 text-success w-100">
            مشاهده همه
            <i class="bi bi-arrow-left"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end fresh -->