  <!-- start products -->
  <div class="container mt-5">
    <div class="row border rounded-5">
      <div class="col-md-3">
        <div class="card border-0">
          <div class="card-header bg-transparent border-0">
            <div class="card-title">
              گوشی موبایل
            </div>
            <small class="d-blok text-muted fs-08-rem">بر اساس بازدید های شما</small>
          </div>
          <div class="card-body">
            <div class="row g-5">
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p1.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p2.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p3.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p4.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer border-0 bg-transparent text-center">
            <a href="#" title="..." class="text-decoration-none text-primary fs-08-rem">
              مشاهده همه
              <i class="bi bi-chevron-left "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0">
          <div class="card-header bg-transparent border-0">
            <div class="card-title">
              گوشی موبایل
            </div>
            <small class="d-blok text-muted fs-08-rem">بر اساس بازدید های شما</small>
          </div>
          <div class="card-body">
            <div class="row g-5">
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p5.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p6.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p1.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p2.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer border-0 bg-transparent text-center">
            <a href="#" title="..." class="text-decoration-none text-primary fs-08-rem">
              مشاهده همه
              <i class="bi bi-chevron-left "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0">
          <div class="card-header bg-transparent border-0">
            <div class="card-title">
              گوشی موبایل
            </div>
            <small class="d-blok text-muted fs-08-rem">بر اساس بازدید های شما</small>
          </div>
          <div class="card-body">
            <div class="row g-5">
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p1.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p2.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p3.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p4.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer border-0 bg-transparent text-center">
            <a href="#" title="..." class="text-decoration-none text-primary fs-08-rem">
              مشاهده همه
              <i class="bi bi-chevron-left "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0">
          <div class="card-header bg-transparent border-0">
            <div class="card-title">
              گوشی موبایل
            </div>
            <small class="d-blok text-muted fs-08-rem">بر اساس بازدید های شما</small>
          </div>
          <div class="card-body">
            <div class="row g-5">
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p5.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p6.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p1.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
              <div class="col-6">
                <a href="#" title="...">
                  <img src="img/products/p2.jpg" class="img-fluid" alt="..." />
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer border-0 bg-transparent text-center">
            <a href="#" title="..." class="text-decoration-none text-primary fs-08-rem">
              مشاهده همه
              <i class="bi bi-chevron-left "></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end products -->
