  <!-- start header -->
  <div class="border-bottom shadow-sm">
    <!-- start header -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" title="...">
          <img src="img/logo/logo.svg" class="img-fluid d-none d-md-block" alt="..." title="..." />

        </a>
        <div class="w-75 d-block d-md-none me-3">
          <div class="main-search-container w-100">
            <i class="bi bi-search"></i>
            <input class="form-control border-0 p-075 rounded-5 fs-08-rem" type="search"
              placeholder="جستجو در کلیک کالا" aria-label="جستجو در کلیک کالا">
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-none d-md-block" id="navbarSupportedContent">
          <div class="d-flex col-5">
            <div class="main-search-container w-100">
              <i class="bi bi-search"></i>
              <input class="form-control border-0 p-075 rounded-5 fs-08-rem" type="search" placeholder="جستجو"
                aria-label="جستجو">
            </div>
          </div>
          <div class="d-flex justify-content-end col">
            <button type="button" class="btn p-2 rounded-5 border">
              <i class="bi bi-box-arrow-in-left"></i>
              ورود | ثبت‌نام
            </button>
            <div class="vr ms-2 me-2"></div>
            <button type="button" class="btn fs-4 d-flex align-items-center">
              <i class="bi bi-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- end header -->

    <!-- start categories -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-list"></i>
                دسته بندی کالاها
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">زیر منو</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="bi bi-percent"></i>
                شگفت انگیز‌ها
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="bi bi-shop-window"></i>
                سوپر مارکت
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="bi bi-fire"></i>
                پرفروش ترین ها
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="bi bi-ticket-perforated"></i>
                تخفیف‌ها و پیشنهادها
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end categories -->
  </div>
  <!-- end header -->