  <!-- start footer -->
  <div class="container mt-5">
    <div class="row gy-3 d-flex justify-content-between pt-3 pb-4">
      <div class="col-12 col-md">
        <span class="text-muted fs-08-rem">تلفن پشتیبانی ۶۱۹۳۰۰۰۰ - ۰۲۱ | ۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم</span>
      </div>
      <div class="border rounded-5 p-1 fs-07-rem col-12 col-md">
        <button class="btn">بازگشت به بالا</button>
        <i class="bi bi-chevron-up pe-1"></i>
      </div>
    </div>
    <div class="d-flex justify-content-between row">
      <div class="card border-0 rounded-5 col-6 col-md d-flex align-items-center">
        <img src="img/services/express-delivery.svg" class="card-img-top w-25" alt="...">
        <div class="card-body">
          <p class="card-text text-muted fs-08-rem">امکان تحویل اکسپرس</p>
        </div>
      </div>
      <div class="card border-0 rounded-5 col-6 col-md d-flex align-items-center">
        <img src="img/services/cash-on-delivery.svg" class="card-img-top w-25" alt="...">
        <div class="card-body">
          <p class="card-text text-muted fs-08-rem">پرداخت در محل</p>
        </div>
      </div>
      <div class="card border-0 rounded-5 col-6 col-md d-flex align-items-center">
        <img src="img/services/support.svg" class="card-img-top w-25" alt="...">
        <div class="card-body">
          <p class="card-text text-muted fs-08-rem">7 روز هفته، 24 ساعته</p>
        </div>
      </div>
      <div class="card border-0 rounded-5 col-6 col-md d-flex align-items-center">
        <img src="img/services/days-return.svg" class="card-img-top w-25" alt="...">
        <div class="card-body">
          <p class="card-text text-muted fs-08-rem">هفت روز ضمانت بازگشت کالا</p>
        </div>
      </div>
      <div class="card border-0 rounded-5 col-6 col-md d-flex align-items-center">
        <img src="img/services/original-products.svg" class="card-img-top w-25" alt="...">
        <div class="card-body">
          <p class="card-text text-muted fs-08-rem">ضمانت اصل بودن کالا</p>
        </div>
      </div>
    </div>
    <div class="row mt-5 gy-4">
      <div class="col-md-3 col-6 lh-md">
        <h6 class="mb-3">با کلیک کالا</h6>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
      </div>
      <div class="col-md-3 col-6 lh-md">
        <h6 class="mb-3">با کلیک کالا</h6>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
      </div>
      <div class="col-md-3 col-6 lh-md">
        <h6 class="mb-3">با کلیک کالا</h6>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
        <p class="text-muted">آیتم فوتر 1</p>
      </div>
      <div class="col-md-3 col-12 lh-md">
        <h6 class="mb-3">با کلیک کالا</h6>
        <div class="row">
          <span class="col">
            <i class="bi bi-instagram fs-2 text-muted"></i>
          </span>
          <span class="col">
            <i class="bi bi-twitter fs-2 text-muted"></i>
          </span>
          <span class="col">
            <i class="bi bi-telegram fs-2 text-muted"></i>
          </span>
          <span class="col">
            <i class="bi bi-youtube fs-2 text-muted"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->